.menu__links {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3.625rem;
    width: 100%;
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}
.menu__link.link-azul {
    color: var(--cor-azul);
}
.menu__link.link-cinza {
    color: var(--cor-cinza-claro);
}
.menu__link.link__cadastro {
    display: none;
}
.inverse {
    filter: invert(1);
}
.menu__mais:checked ~ .tela__escurecida {
    display: block;
}
.tela__escurecida {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor escura com 50% de opacidade */
    display: none; /* Inicia oculto */
    pointer-events: none; /* Permite clicar nos elementos abaixo */
    z-index: 1;
}

/* media queries */

@media screen and (min-width: 1500px) {
    .menu__conteudo.menu__mais,
    .menu__conteudo.menu__mais-label {
        display: none;
    }
    .menu__links {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 10%;
        background-color: var(--cor-branca);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem 1rem 0 1rem;
        gap: 1rem;
        border-right: 0.0625rem solid var(--cor-cinza-claro);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .menu__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        text-decoration: none;
    }
    .menu__link img {
        width: 1rem;
        height: auto;
    }
    .menu__link.link-azul:hover,
    .menu__link.link-azul:active,
    .menu__link.link-cinza:hover,
    .menu__link.link-cinza:active {
        color: var(--cor-cinza-escuro);
    }
}