@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('cabecalho.css');
@import url('consultas.css');
@import url('menu.css');
@import url('botoes-inferiores.css');

:root {
    --cor-fundo: #F9F7FE;
    --cor-branca: #FFFFFF;
    --cor-branca-variada: #F6F6F6;
    --cor-cinza-alternativa: #ECECEC;
    --cor-cinza-claro: #A3A3A3;
    --cor-cinza-escuro: #464646;
    --cor-laranja: #FFB050;
    --cor-azul: #4894FF;
    --fonte-principal: "Montserrat", sans-serif;
}
* {
    box-sizing: border-box;
    max-width: 100%;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}